
<input type="button" value="Start Tracking" id="strtTracking" onclick="StartTracking();"/>
<input type="button" value="Stop Tracking" id="stopTracking" onclick="StopTracking();"/>
<div id="Position"></div>
<script type="text/javascript">
    if (navigator.geolocation) {
        var timeoutVal = 10 * 100 * 1000;
        navigator.geolocation.getCurrentPosition(
            displayPosition,
            displayError,
            {}
        );
    }
    else {
        alert("Geolocation is not supported by this browser");
    }
    var geoTrackerId;
    function StartTracking() {

        geoTrackerId = setInterval(function () {
            if (navigator.geolocation) {
                var timeoutVal = 10*100*1000;
                navigator.geolocation.getCurrentPosition(
                    displayPosition,
                    displayError
                );
            }
            else {
                alert("Geolocation is not supported by this browser");
            }
        }, 2000);
        $("#stopTracking").attr('disabled', 'disabled');

    }

    function StopTracking() {
        clearInterval(geoTrackerId);
        $("#stopTracking").removeAttr('disabled');

    }

    function displayPosition(position) {
        var html = $("#Position").html();
        $("#Position").html(html+"Latitude: " + position.coords.latitude + ", Longitude: " + position.coords.longitude+"<br>");
    }

    function displayError(error) {
        var errors = {
            1: 'Permission denied',
            2: 'Position unavailable',
            3: 'Request timeout'
        };
        document.getElementById("Position").innerHTML += "Error: " + errors[error.code] + "<br>";
    }
</script>