@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<h1>Hello</h1>
<div id="Position"></div>
<script type="text/javascript">
    if (navigator.geolocation) {
        var timeoutVal = 10 * 1000 * 1000;
        navigator.geolocation.getCurrentPosition(
          displayPosition,
          displayError,
          { enableHighAccuracy: true, timeout: timeoutVal, maximumAge: 0 }
        );
    }
    else {
        alert("Geolocation is not supported by this browser");
    }

    function displayPosition(position) {
        document.getElementById("Position").innerHTML += "Latitude: " + position.coords.latitude + ", Longitude: " + position.coords.longitude+"<br>";
    }

    function displayError(error) {
        var errors = {
            1: 'Permission denied',
            2: 'Position unavailable',
            3: 'Request timeout'
        };
        document.getElementById("Position").innerHTML += "Error: " + errors[error.code] + "<br>";
    }
</script>